.content-wrapper {
    color: darkblue;
}

.card {
    margin: 0 auto 1em;
    width: 70%;
    border: 1px solid #aaa;
    padding: 0 2em 2em;
    box-shadow: 3px 3px 8px #999;
}

.row {
    display: inline-block;
    width: 100%;
}

.range-new {
    padding: 1em 0 .5em;
}
  
.range-new-button {
    background-color: rgb(6, 113, 92);
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    width: 100px;
}

.range-actions {
    text-align: right;
}

.range-actions-button {
    background-color: rgb(5, 114, 224);
    border-radius: 15px;
    border: none;
    color: white;
    text-align: center;
    padding: 1em;
    margin: .5em;
    width: 100px;
}