.range-container {
  margin: 1em;
}

.transaction-type-wrapper {
    display: flex;
    align-items: center;
}

.range-delete-button {
    background-color: rgb(166, 0, 255);
    border-radius: 20px;
    color: white;
    text-align: center; 
    text-decoration: none;
    padding: .5em;
    width: 25px;
}